@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tajawal", sans-serif;
    user-select: none;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    width: 350px;
    padding: 15px 10px;
    border: 1px solid #eee;
    border-radius: 15px;
}
.content h3 {
    text-align: center;
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}
.content .inputs {
    border-bottom: 1px solid #eee;
}
.content .input {
    width: 100%;
    margin-bottom: 10px;
}
.content input {
    width: 100%;
    height: 32px;
    padding: 3px 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
    transition: ease 400ms;
}
.content input:focus {
    border-color: #333;
}
.content button {
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
}
.content .result p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    background-color: #f6f6f8;
    padding: 5px 10px;
    border-radius: 10px;
    height: 32px;
    display: none;
}
.content .result h4 {
    margin-top: 10px;
    text-align: center;
    background-color: #607d8b;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    height: 32px;
    display: none;
}